<link rel="stylesheet" type="text/css" href="/css/dropoff.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="/css/result.css">
<h1>Edit Locations</h1>


<div class=container>
  <h1>Please fill in the form below</h1>
  <form action="/action_page.php">
    Organisation:
    <br>
    <input type="text" name="organisation" id="organisation" class="pa2 input-reset ba bg-transparent w-100 measure">
    <br> Province:
    <br>
    <select id="selectProvince" class="pa2 ba bg-transparent w-100 measure">
      <option value="ON">Ontario</option>
    </select>
    <br> City/Town:
    <br>
    <select id="selectCity" class="pa2 ba bg-transparent w-100 measure">
      <option value="TORONTO">Toronto</option>
    </select>
    <br> Postal Code:
    <br>
    <input type="text" name="postalCode" id="postalCode" class="pa2 input-reset ba bg-transparent w-100 measure">
    <br> Address:
    <br>
    <input type="text" name="thoroughFare" id="thoroughFare" class="pa2 input-reset ba bg-transparent w-100 measure">
    <br>
    <br>
    <input type="submit" value="Submit" id="submit">
  </form>
</div>
